In [1]:
import pandas as pd
import requests as rq
import lxml as xl
import pytrends
from pytrends.request import TrendReq
import numpy
import datetime
pytrends = TrendReq()

In [2]:
topic_ls = ["guns", "germs", "recreation"]
gun_ls = ["ammunition", "gun stores", "ar-15"]
germs_ls = ["hand sanitizer", "bleach", "toilet paper"]
tv_ls = ["netflix", "weed delivery", "beer delivery"]

In [3]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(topic_ls, timeframe = 'today 5-y')
df_topic = my_req.interest_over_time()
df_topic.head()

            guns  germs  recreation isPartial
date
2015-04-19    57      2          24     False
2015-04-26    57      2          25     False
2015-05-03    55      2          24     False
2015-05-10    56      2          26     False
2015-05-17    56      2          26     False

In [3]:
my_req2 = TrendReq(hl='en-US', tz=360)
my_req2.build_payload(gun_ls, timeframe = 'today 5-y')
df_guns = my_req2.interest_over_time()
df_guns.head()

            ammunition  gun stores  ar-15 isPartial
date
2015-04-19          14           4      8     False
2015-04-26          15           4      8     False
2015-05-03          15           4      8     False
2015-05-10          14           4      8     False
2015-05-17          15           5      9     False

In [4]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(germs_ls, timeframe = 'today 5-y')
df_germs = my_req.interest_over_time()
df_germs.head()

            hand sanitizer  bleach  toilet paper isPartial
date
2015-04-19               0      21             2     False
2015-04-26               0      20             2     False
2015-05-03               0      21             2     False
2015-05-10               0      19             2     False
2015-05-17               0      19             2     False

In [6]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(tv_ls, timeframe = 'today 5-y')
df_rec = my_req.interest_over_time()
df_rec.head()

            netflix  weed delivery  beer delivery isPartial
date
2015-04-19       26              0              0     False
2015-04-26       26              0              0     False
2015-05-03       24              0              0     False
2015-05-10       25              0              0     False
2015-05-17       25              0              0     False

In [5]:
df_topic = df_topic.drop("isPartial", axis = 1)
df_guns = df_guns.drop("isPartial", axis = 1)
df_germs = df_germs.drop("isPartial", axis = 1)
df_rec = df_rec.drop("isPartial", axis = 1)

In [6]:
df_topic = df_topic.reset_index()
df_guns = df_guns.reset_index()
df_germs = df_germs.reset_index()
df_rec = df_rec.reset_index()
df_rec

In [9]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_topic.iterrows():
    if inner["date"].year != x.year:
        df_topic = df_topic.drop(index)
    elif inner["date"].month > x.month:
        df_topic = df_topic.drop(index)
df_topic.to_csv("goog_csvs/2019_topic.csv")

In [10]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_guns.iterrows():
    if inner["date"].year != x.year:
        df_guns = df_guns.drop(index)
    elif inner["date"].month > x.month:
        df_guns = df_guns.drop(index)
df_guns.to_csv("goog_csvs/2019_guns.csv")

In [9]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_germs.iterrows():
    if inner["date"].year != x.year:
        df_germs = df_germs.drop(index)
    elif inner["date"].month > x.month:
        df_germs = df_germs.drop(index)
df_germs.to_csv("goog_csvs/2019_germs.csv")

In [12]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_rec.iterrows():
    if inner["date"].year != x.year:
        df_rec = df_rec.drop(index)
    elif inner["date"].month > x.month:
        df_rec = df_rec.drop(index)
df_rec.to_csv("goog_csvs/2019_rec.csv")

          date  hand sanitizer  bleach  toilet paper
0   2015-04-19               0      21             2
1   2015-04-26               0      20             2
2   2015-05-03               0      21             2
3   2015-05-10               0      19             2
4   2015-05-17               0      19             2
..         ...             ...     ...           ...
256 2020-03-15              99      24            77
257 2020-03-22              55      25            39
258 2020-03-29              43      25            27
259 2020-04-05              32      24            21
260 2020-04-12              22      23            15

[261 rows x 4 columns]