In [35]:
import pandas as pd
import requests as rq
import lxml as xl
import pytrends
from pytrends.request import TrendReq
import numpy
import datetime
pytrends = TrendReq()

In [2]:
topic_ls = ["guns", "germs", "recreation"]
gun_ls = ["amunition", "gun stores", "ar-15"]
germs_ls = ["hand sanitzer", "bleach", "toilet paper"]
tv_ls = ["netflix", "weed delivery", "beer delivery"]

In [3]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(topic_ls, timeframe = 'today 5-y')
df_topic = my_req.interest_over_time()
df_topic.head()

            guns  germs  recreation isPartial
date
2015-04-19    55      2          24     False
2015-04-26    55      2          24     False
2015-05-03    56      2          25     False
2015-05-10    55      2          25     False
2015-05-17    57      2          25     False

In [4]:
my_req2 = TrendReq(hl='en-US', tz=360)
my_req2.build_payload(gun_ls, timeframe = 'today 5-y')
df_guns = my_req.interest_over_time()
df_guns.head()

            guns  germs  recreation isPartial
date
2015-04-19    55      2          24     False
2015-04-26    55      2          24     False
2015-05-03    56      2          25     False
2015-05-10    55      2          25     False
2015-05-17    57      2          25     False

In [5]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(germs_ls, timeframe = 'today 5-y')
df_germs = my_req.interest_over_time()
df_germs.head()

            hand sanitzer  bleach  toilet paper isPartial
date
2015-04-19              0      27             2     False
2015-04-26              0      27             2     False
2015-05-03              0      27             2     False
2015-05-10              0      25             2     False
2015-05-17              0      24             2     False

In [6]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(tv_ls, timeframe = 'today 5-y')
df_rec = my_req.interest_over_time()
df_rec.head()

            netflix  weed delivery  beer delivery isPartial
date
2015-04-19       26              0              0     False
2015-04-26       26              0              0     False
2015-05-03       24              0              0     False
2015-05-10       25              0              0     False
2015-05-17       25              0              0     False

In [7]:
df_topic = df_topic.drop("isPartial", axis = 1)
df_guns = df_guns.drop("isPartial", axis = 1)
df_germs = df_germs.drop("isPartial", axis = 1)
df_rec = df_rec.drop("isPartial", axis = 1)

In [8]:
df_topic = df_topic.reset_index()
df_guns = df_guns.reset_index()
df_germs = df_germs.reset_index()
df_rec = df_rec.reset_index()
df_rec

          date  netflix  weed delivery  beer delivery
0   2015-04-19       26              0              0
1   2015-04-26       26              0              0
2   2015-05-03       24              0              0
3   2015-05-10       25              0              0
4   2015-05-17       25              0              0
..         ...      ...            ...            ...
256 2020-03-15       75              0              0
257 2020-03-22       92              0              0
258 2020-03-29       92              0              0
259 2020-04-05       85              0              0
260 2020-04-12      100              0              0

[261 rows x 4 columns]

In [66]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_topic.iterrows():
    if inner["date"].year != x.year:
        df_topic = df_topic.drop(index)
    elif inner["date"].month > x.month:
        df_topic = df_topic.drop(index)
df_topic.to_csv("goog_csvs/2019_topic.csv")

In [71]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_guns.iterrows():
    if inner["date"].year != x.year:
        df_guns = df_guns.drop(index)
    elif inner["date"].month > x.month:
        df_guns = df_guns.drop(index)
df_guns.to_csv("goog_csvs/2019_guns.csv")

In [72]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_germs.iterrows():
    if inner["date"].year != x.year:
        df_germs = df_germs.drop(index)
    elif inner["date"].month > x.month:
        df_germs = df_germs.drop(index)
df_germs.to_csv("goog_csvs/2019_germs.csv")

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260

In [74]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_rec.iterrows():
    if inner["date"].year != x.year:
        df_rec = df_rec.drop(index)
    elif inner["date"].month > x.month:
        df_rec = df_rec.drop(index)
df_rec.to_csv("goog_csvs/2019_rec.csv")