In [1]:
import pandas as pd
import requests as rq
import lxml as xl
import pytrends
from pytrends.request import TrendReq
import numpy
import datetime
pytrends = TrendReq()

In [2]:
topic_ls = ["guns", "germs", "recreation"]
gun_ls = ["amunition", "gun stores", "ar-15"]
germs_ls = ["hand sanitzer", "bleach", "toilet paper"]
tv_ls = ["netflix", "weed delivery", "beer delivery"]

In [3]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(topic_ls, timeframe = 'today 5-y')
df_topic = my_req.interest_over_time()
df_topic.head()

            guns  germs  recreation isPartial
date
2015-04-19    57      2          24     False
2015-04-26    57      2          25     False
2015-05-03    55      2          24     False
2015-05-10    56      2          26     False
2015-05-17    56      2          26     False

In [4]:
my_req2 = TrendReq(hl='en-US', tz=360)
my_req2.build_payload(gun_ls, timeframe = 'today 5-y')
df_guns = my_req2.interest_over_time()
df_guns.head()

            amunition  gun stores  ar-15 isPartial
date
2015-04-19          1           5      8     False
2015-04-26          1           4      8     False
2015-05-03          0           4      9     False
2015-05-10          1           4      9     False
2015-05-17          0           4      9     False

In [5]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(germs_ls, timeframe = 'today 5-y')
df_germs = my_req.interest_over_time()
df_germs.head()

            hand sanitzer  bleach  toilet paper isPartial
date
2015-04-19              0      27             2     False
2015-04-26              0      26             2     False
2015-05-03              0      26             2     False
2015-05-10              0      25             2     False
2015-05-17              0      25             2     False

In [6]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(tv_ls, timeframe = 'today 5-y')
df_rec = my_req.interest_over_time()
df_rec.head()

            netflix  weed delivery  beer delivery isPartial
date
2015-04-19       26              0              0     False
2015-04-26       26              0              0     False
2015-05-03       24              0              0     False
2015-05-10       25              0              0     False
2015-05-17       25              0              0     False

In [7]:
df_topic = df_topic.drop("isPartial", axis = 1)
df_guns = df_guns.drop("isPartial", axis = 1)
df_germs = df_germs.drop("isPartial", axis = 1)
df_rec = df_rec.drop("isPartial", axis = 1)

In [8]:
df_topic = df_topic.reset_index()
df_guns = df_guns.reset_index()
df_germs = df_germs.reset_index()
df_rec = df_rec.reset_index()
df_rec

          date  netflix  weed delivery  beer delivery
0   2015-04-19       26              0              0
1   2015-04-26       26              0              0
2   2015-05-03       24              0              0
3   2015-05-10       25              0              0
4   2015-05-17       25              0              0
..         ...      ...            ...            ...
256 2020-03-15       77              0              0
257 2020-03-22       90              0              0
258 2020-03-29       89              0              0
259 2020-04-05       84              0              0
260 2020-04-12      100              0              0

[261 rows x 4 columns]

In [9]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_topic.iterrows():
    if inner["date"].year != x.year:
        df_topic = df_topic.drop(index)
    elif inner["date"].month > x.month:
        df_topic = df_topic.drop(index)
df_topic.to_csv("goog_csvs/2019_topic.csv")

In [10]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_guns.iterrows():
    if inner["date"].year != x.year:
        df_guns = df_guns.drop(index)
    elif inner["date"].month > x.month:
        df_guns = df_guns.drop(index)
df_guns.to_csv("goog_csvs/2019_guns.csv")

In [11]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_germs.iterrows():
    if inner["date"].year != x.year:
        df_germs = df_germs.drop(index)
    elif inner["date"].month > x.month:
        df_germs = df_germs.drop(index)
df_germs.to_csv("goog_csvs/2019_germs.csv")

In [12]:
x = datetime.datetime(2019, 4, 1)
year = []
for index, inner in df_rec.iterrows():
    if inner["date"].year != x.year:
        df_rec = df_rec.drop(index)
    elif inner["date"].month > x.month:
        df_rec = df_rec.drop(index)
df_rec.to_csv("goog_csvs/2019_rec.csv")